body {
  background: rgb(58, 48, 48);
}

.input {
  height: 70px;
  font-size: 18px;
  border: 0.1px solid #fff;
}

.style {
  margin: 50px auto;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.item1 {
  color: #fff;
  height: 70px;
  font-size: 30px;
  direction: rtl;
  grid-column-start: 1;
  grid-column-end: 5;
  border: 0.1px solid #fff;
}

.orange {
  background: #ff9d5c;
  height: 70px;
  border: 0.1px solid #fff;
}

.item0 {
  height: 70px;
  font-size: 18px;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 0.1px solid #fff;
}
